@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        margin: 0;
}

.container {
        background: url(../user-form04/background.jpg);
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
}

.cor-gradiente {
        background: linear-gradient(to bottom, lightblue, rgb(34, 34, 194));
        width: 100%;
        height: 100%;
        opacity: 0.6;
}

form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        height: 550px;
}

img {
        margin-left: 155px;
        border-radius: 100%;
}

h1 {
        font-size: 1em;
        text-align: center;
        font-weight: bolder;
        color: white;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 30px;
        transition: 0.6s;
}

h1:hover {
        background-color: white;
        color: black;
        transition: 0.6s;
}

input {
        width: 70%;
        padding: 15px 30px;
        margin-top: 10px;
        margin-left: 28px;
        border: none;
        border-radius: 30px;
        transition: 0.6s;
}

input::placeholder {
        font-family: 'Montserrat';
        font-weight: bold;
        color: rgba(128, 128, 128, 0.507);
}

input:hover {
        background-color: rgb(104, 103, 103);
        transition: 0.6s;
}

input:hover::placeholder {
        color: white;
        transition: 0.6s;
}

button {
        font-family: 'Montserrat';
        font-weight: bolder;
        font-size: 1em;
        color: white;
        width: 85%;
        padding: 15px 30px;
        margin-left: 28px;
        margin-top: 15px;
        margin-bottom: 50px;
        border-radius: 30px;
        border: none;
        background-color: rgb(32, 32, 32);
        transition: 0.6s;
}

button:hover {
        background-color: rgb(104, 103, 103);
        transition: 0.6s;
}

a#esqueceu {
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-left: 88px;
        margin-bottom: 120px;
}

a#nova {
        text-decoration: none;
        color: white;
        font-size: 10px;
        margin-left: 115px;
        margin-top: 50px;
}