@charset 'UTF-8';
* {
        padding: 0;
        margin: 0;
}

body {
        height: 96.6vh;
        width: 99vw;
        background-image: linear-gradient(to bottom right, #d42e9d, #0740dd);
        background-repeat: no-repeat;
        background-size: cover;
}

h1 {
        text-align: center;
        margin: 30px auto;
        color: white;
}

.bottom, .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-7deg);
        width: 450px;
        height: 600px;
        background-color: #fff;
        opacity: .6;
        border-radius: 10px;
}

.middle {
        opacity: .8;
        transform: translate(-50%, -50%) rotate(4deg);
}

main {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 600px;
        background-color: #fff;
        border-radius: 10px;
}

main > h3 {
        margin: 30px auto;
}

.items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 8px auto;
        width: 360px;
        height: 400px;
}

.items > .input1, .input2, .input3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 5px;
}
.items > .input1 > input , .input2 > input , .input3 > input {
        transition: .4s;
}

.items > .input1 > input:hover, .input2 > input:hover, .input3 > input:hover {
        border-radius: 5px;
        border-color: #A468C3
}

img {
        width: 20px;
}

.forgot {
        position: relative;
        margin: 20px 0px 0 50%;
        text-decoration: none;
        color: black;
}

button {
        width: 360px;
        margin: 15px auto;
        padding: 15px;
        outline: none;
        border: none;
        transition: .4s ease;
        color: black;
        font-weight: bolder;
        font-size: 1em;
}

button:hover {
        cursor: pointer;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(to bottom right, #d42e9d, #0740dd);
}

footer {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: white;
}

footer a {
        text-decoration: none;
        color: white
}