@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
        margin: 0; padding: 0;
        font-family: 'Poppins', sans-serif;
}

body {
        background-image: linear-gradient(to top right, rgb(135, 250, 250), rgba(0, 0, 255, 0.753) ,rgb(247, 0, 255));
        background-repeat: no-repeat;
        background-size: cover ;
        width: 100vw;
        height: 100vh;
}

.container {
        background-color: white;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
}

.container > h1 {
        font-weight: lighter;
        text-align: center;
        padding: 30px 0;
        font-size: 2.6vw;
}

.login#b1 {
        display: inline-block;
        min-width: 10vw;
        padding: 5px;
        margin-left: 40px;
        margin-bottom: 20px;
        background-color: #3b5998;
        border-radius: 6px;
        text-align: center;
        border: none;
        color: white;
        transition: 0.5s;
}

.login#b1:hover {
        background-color: white;
        cursor: pointer;
        color: #3b5998;
        border-radius: 30px;
        box-shadow: 1px 1px 15px #3b5998;
        transition: 0.5s;
}

.login#b1 > img, .login#b2 > img {
        margin-top: 5px;
}

.login#b2 {
        background-color: white;
        display: inline-block;
        min-width: 10vw;
        padding: 5px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 6px;
        text-align: center;
        border: none;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.198);
        transition: 0.5s;
}

.login#b2:hover {
        cursor: pointer;
        box-shadow: 1px 1px 15px #3b5998;
        border-radius: 30px;
        transition: 0.5s;
}

label {
        margin-left: 60px;
        font-size: 0.8em;
        color: black;
}

.link {
        color: grey;
}

input {
        border: 0.2px solid rgba(0, 0, 0, 0.158);
        background-color: rgba(255, 255, 255, 0);
        padding: 5px 40px;
        margin-left: 60px;
        border-radius: 7px;
        transition: 0.5s;
}

input:focus {
        outline: none;
        box-shadow: .5px .5px 20px rgba(0, 0, 0, 0.308);
        transition: 0.5s;
}

.enviar {
        margin-top: 15px;
        padding: 5px 100px;
        margin-left: 14.5%;
        margin-bottom: 30px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.863);
        color: white;
        transition: 0.5s;
}

.enviar:hover {
        border-radius: 30px;
        box-shadow: .5px .5px 20px rgba(0, 0, 0, 0.308);
        transition: 0.5s;
}

p {
        font-size: 0.8em;
        text-align: center;
        color: grey;
}