@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
        font-family: 'Poppins', sans-serif;
        padding: 0;
        margin: 0;
}

.container {
        background: url(../background-form05/pngwing.com.png);
        height: 100vh;
        background-size: 45%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left bottom;
}

.cor-gradiente {
        background: linear-gradient(to bottom, #7814db, #eb0b91);
        width: 100%;
        height: 100%;
        opacity: .6;
}

.conteudo {
        background-color: white;
        min-width: 360px;
        max-width: 3000px;
        height: 100vh;
        margin-left: 70%;
        padding-left: 35px;
}

h1 {
        padding: 35px 0;
}

h5 {
        padding-top: 20px;
        color: rgb(45, 45, 45);
}

input {
        padding: 5px 300px 5px 0;
        border: none;
        border-bottom: 2px solid darkgray;
        outline: 0;
        transition: 0.7s;
}

input:hover {
        border-bottom: 4px solid black;
        border-radius: 7px;
        transition: 0.7s;
}

label {
        display: block;
        margin-top: 30px;
        width: fit-content;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
        color: rgb(45, 45, 45);
        border-radius: 30px;
        transition: 0.7s;
}

label:hover {
        cursor: pointer;
        font-size: 15px;
        transition: 0.7s;
}

button {
        padding: 10px 55px;
        margin-top: 25px;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(to bottom, #7814db, #eb0b91);
        color: white;
}

button:hover {
        cursor: pointer;
}

a {
        color: rgb(45, 45, 45);
        text-decoration: none;
        margin-left: 160px;
}